<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: header"/>

<body style="padding-top: 120px;">
<th:block th:replace="fragments/header :: offcanvas"/>
<div class="container-fluid p-0" id="mainContainer">

    <th:block layout:fragment="banner">
        <th:div class="d-flex flex-column justify-content-center text-center"
                th:insert="fragments/banner :: MBTI-banner"/>
    </th:block>
    <th:block layout:fragment="content">
    </th:block>

    <th:block th:replace="fragments/modal :: confirmModal"></th:block>
    <th:block th:replace="fragments/toast :: toast('pageToast')"></th:block>
</div>
</body>
<th:block layout:fragment="defaultScript">
    <th:block th:replace="fragments/footer :: footer"/>
</th:block>
<th:block layout:fragment="additionalScript">
</th:block>
</html>