<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorator="~{layouts/default_layout}"-->

<th:block th:replace="/fragments/header :: header"/>
<body style="padding-top: 100px;">

<!--<th:block th:replace="fragments/header :: navbar"/>-->
<th:block th:replace="/fragments/header :: offcanvas"/>
<div class="container-fluid mt-xl-5" id="mainContainer">

    <th:block th:replace="/fragments/header :: MBTI-header"/>

    <div class="d-flex flex-column">
        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신은 외향적입니까? 내향적입니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="focused" id="focusedExtraversion">
                    <label class="form-check-label" for="focusedExtraversion">
                        외향적(Extraversion)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="focused" id="focusedIntroversion">
                    <label class="form-check-label" for="focusedIntroversion">
                        내향적(Introversion)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신의 인식 방식은 어떠합니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="recognition" id="recognitionSensing">
                    <label class="form-check-label" for="recognitionSensing">
                        감각적(Sensing)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="recognition" id="recognitionIntuition">
                    <label class="form-check-label" for="recognitionIntuition">
                        직관적(Intuition)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신의 판단 방식은 어떠합니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="decision" id="decisionThinking">
                    <label class="form-check-label" for="decisionThinking">
                        사고(Thinking)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="decision" id="decisionFeeling">
                    <label class="form-check-label" for="decisionFeeling">
                        감정(Feeling)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신의 대처 방식은 어떠합니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="coping" id="copingJudging">
                    <label class="form-check-label" for="copingJudging">
                        판단(Judging)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="coping" id="copingPerceiving">
                    <label class="form-check-label" for="copingPerceiving">
                        인식(Perceiving)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-secondary" onclick="MBTISubmit()">등록</button>
        </div>

        <div id="result">

        </div>
    </div>

    <th:block th:replace="fragments/modal :: modal('mbtiRegisterModal')"/>
<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"-->
<!--         aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary" id="staticBackdropSubmit">Submit</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

</body>
<th:block th:replace="fragments/footer :: footer"/>
<!--<script type="module" src="/js/user/user.js"></script>-->
<script src="/js/mbti/mbti_registration.js"></script>
</html>
