<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>

<th:div layout:fragment="banner" class="text-center">
    <h2>User List</h2>
</th:div>


<th:block layout:fragment="content">
    <div class="container-fluid" id="contentContainer">
        <table class="table table-success table-striped text-center table-responsive">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Username</td>
                    <td>Nickname</td>
                    <td>Authority</td>
                    <td>MBTI-List</td>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user, index : ${userList}">
                <td th:text="${index.count}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getNickname()}"></td>
                <td>
                    <button class='btn btn-light getUserAuthoritiesBtn' th:data-username='${user.getUsername()}'>조회</button>
                </td>
                <td>
                    <button class='btn btn-light getUserMBTIListBtn' th:data-username='${user.getUsername()}'>조회</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <th:block th:replace="fragments/modal :: staticModal('simpleInquiryModal')"></th:block>

</th:block>

<th:block layout:fragment="additionalScript">
    <script type="module" src="/js/user/user.js"></script>
</th:block>
</body>
</html>
