<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="alert">
    <div id="alert-area">
        <th:block th:if="${param.error}">
            <script th:inline="javascript">
                createToast({
                    target: $("#pageToast"),
                    type: "danger",
                    header: "Alert",
                    body: "Invalid username and password."
                });
            </script>
        </th:block>
        <th:block th:if="${param.logout}">
            <script th:inline="javascript">
                createToast({
                    target: $("#pageToast"),
                    type: "info",
                    header: "Alert",
                    body: "You have successfully logged out."
                });
            </script>
        </th:block>
    </div>
</th:block>

</html>

