<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="MBTI-banner">
    <div class="d-flex d-block flex-column">
        <h1 class="d-flex justify-content-center">M B T I</h1>
        <h2 class="d-flex justify-content-center">Myers-Briggs Type Indicator</h2>
        <hr>
    </div>
    <th th:replace="/fragments/alert :: toast('pageToast')"></th>
</th:block>

<th:block th:fragment="banner(position, title, subtitle)">
    <div class="d-flex d-block flex-column">
        <th:block th:if="${position == 'start'}">
            <div class="d-flex justify-content-start h1" th:text="${title}"></div>
            <div class="d-flex justify-content-start h3" th:text="${subtitle}"></div>
        </th:block>
        <th:block th:if="${position == 'center'}">
            <div class="d-flex justify-content-center h1" th:text="${title}"></div>
            <div class="d-flex justify-content-center h3" th:text="${subtitle}"></div>
        </th:block>
        <th:block th:if="${position == 'end'}">
            <div class="d-flex justify-content-end h1" th:text="${title}"></div>
            <div class="d-flex justify-content-end h3" th:text="${subtitle}"></div>
        </th:block>
        <th:block th:unless="${position}">
            <div class="d-flex h1" th:text="${title}"></div>
            <div class="d-flex h3" th:text="${subtitle}"></div>
        </th:block>
        <hr>
    </div>
    <th th:replace="/fragments/alert :: toast('pageToast')"></th>
</th:block>

</html>