<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mbtiTable(mbtiList)">
    <div id="mbtiListDiv" class="flex-column">
        <div class="d-flex justify-content-end" id="btnAreaForMbtiTable">
            <button class="btn btn-info me-3" onclick="location.href='/mbti/register'">Add</button>
        </div>

        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th class="col-6" colspan="1" scope="col">MBTI</th>
                <th class="col-4" colspan="1" scope="col">Personality</th>
                <!--                <th class="col-1" colspan="1" scope="col">Chatting</th>-->
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <th:block th:each="mbti, index : ${MBTI_List}">
                <tr th:id="flush-heading + ${index.index}" data-bs-toggle="collapse"
                    th:attr="data-bs-target='#flush-collapse' + ${index.index}" aria-expanded="false"
                    th:aria-controls="flush-collapse + ${index.index}">
                    <td th:text="${mbti.code}"></td>
                    <td th:text="${mbti.personality}"></td>
                </tr>

                <div>
                    <td colspan="12" class="p-0">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width: ' + ${mbti.numberOfTimes} + '%'"
                                 th:aria-valuenow="${mbti.numberOfTimes}" aria-valuemin="0" aria-valuemax="100" th:text="${mbti.numberOfTimes}">
                            </div>
                        </div>
                        <div class="accordion accordion-flush" th:id="accordionFlush + ${index.index}">
                            <div class="accordion-item">
                                <div th:id="flush-collapse + ${index.index}" class="accordion-collapse collapse"
                                     th:aria-labelledby="flush-heading + ${index.index}"
                                     th:attr="data-bs-parent='#accordionFlush' + ${index.index}">
                                    <div class="accordion-body">
                                        <div class='d-flex justify-content-between'>
                                            <div>
                                                <h1 class='d-inline' th:text="${mbti.code}"></h1>
                                                <h3 class='d-inline'>
                                                    (등록 횟수: <span class="badge text-bg-info ms-1"
                                                                  th:text="${mbti.numberOfTimes}"></span>)
                                                </h3>
                                                <h3 th:text="${mbti.personality}"></h3>
                                                <span class='h6 d-block'
                                                      th:text="${'최초 등록 날짜: ' + mbti.regDate}"></span>
                                                <span class='h6 d-block'
                                                      th:text="${'최근 등록 날짜: ' + mbti.recentRegDate}"></span>
                                            </div>
                                            <img class='w-50' th:src="${mbti.imgSrc}"/>
                                        </div>
                                        <p class='mt-3' th:text="${mbti.introduction}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </div>
            </th:block>
            </tbody>
        </table>
    </div>
</th:block>
</html>

