<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="staticModal(id)">
    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" th:id="${id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         th:aria-labelledby="${id + 'Label'}" aria-hidden="true">
        <th:block th:replace="fragments/toast :: toast('modalToast')"></th:block>
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="${id + 'Label'}">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="modalInteractionBtn">Understood</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="confirmModal(confirmBtnColor)">
    <!-- Vertically centered scrollable modal -->
    <div aria-hidden="true" aria-labelledby="confirmModalLabe" class="modal fade" data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="confirmModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Modal title</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" id="confirmModalCancelBtn" type="button">
                        Cancel
                    </button>
                    <!--                    <button type="button" class="btn btn-primary" id="confirmModalAcceptBtn">Accept</button>-->
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="signUpModal">
    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" id="signUpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="signUpModalLabel" aria-hidden="true">
        <th:block th:replace="fragments/toast :: toast('modalToast')"></th:block>
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center w-100 mx-1">
                            <form action="/signup" method="post" class="form-group flex-column w-100" id="signUpForm">
                                <div class="input-group mb-3 row">
                                    <label for="signUpFormUsername"
                                           class="input-group-text col-sm-3 col-form-label">ID</label>
                                    <input type="text" class="form-control" id="signUpFormUsername" name="username"/>
                                    <button class="btn btn-secondary col-sm-2 justify-content-between" type="button"
                                            id="signUpFormUsernameValidateBtn">
                                        <span>Validate</span>
                                    </button>
                                </div>
                                <div class="input-group mb-3 row">
                                    <label for="signUpFormPassword" class="input-group-text col-sm-3 col-form-label">Password</label>
                                    <input type="password" class="form-control" id="signUpFormPassword"
                                           name="password"/>
                                </div>
                                <div class="input-group mb-3 row">
                                    <label for="signUpFormReConfirmPassword"
                                           class="input-group-text col-sm-3 col-form-label">Reconfirm Password</label>
                                    <input type="password" class="form-control" id="signUpFormReConfirmPassword"
                                           disabled/>
                                </div>
                                <div class="input-group mb-3 row">
                                    <label for="singUpFormNickname" class="input-group-text col-sm-3 col-form-label">Nickname</label>
                                    <input type="text" class="form-control" id="singUpFormNickname" name="nickname"/>
                                    <button class="btn btn-secondary col-sm-2" type="button"
                                            id="signUpFormNicknameValidateBtn"><span>Validate</span>
                                    </button>
                                </div>
                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-sm-3">Authority</span>
                                    <div class="form-control col-sm-8 p-2 d-flex justify-content-around"
                                         id="signUpFormAuthorities">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="authorities"
                                                   id="checkboxRoleAdmin"
                                                   value="ROLE_ADMIN">
                                            <label class="form-check-label" for="checkboxRoleAdmin">ADMIN</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="authorities"
                                                   id="checkboxRoleManager"
                                                   value="ROLE_MANAGER">
                                            <label class="form-check-label" for="checkboxRoleManager">MANAGER</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="authorities"
                                                   id="checkboxRoleUser"
                                                   value="ROLE_USER">
                                            <label class="form-check-label" for="checkboxRoleUser">USER</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="reset" class="btn btn-warning mx-3">Reset</button>
                    <button type="button" class="btn btn-info mx-3" id="signUpSubmitBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="CRUDChatRoomModal(type)">
    <div class="modal fade CRUD-chatRoom-modal" data-bs-keyboard="false" th:id="${type} + ChatRoomModal"
         tabindex="-1" th:aria-labelledby="${type} + ChatRoomModalLabel" aria-modal="true" role="dialog">
        <!--        <th:block th:replace="fragments/toast :: toast"></th:block>-->
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="${type} + ChatRoomModalLabel"
                        th:text="${type + ' Chatting Room'}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center w-100 mx-1">
                            <form class="form-group flex-column w-100" id="createChatRoom">
                                <input name="roomId" type="hidden">
                                <div class="input-group mb-3 row">
                                    <label th:for="${type} + ChatRoomRoomName"
                                           class="input-group-text col-sm-3 col-form-label">Room Name</label>
                                    <input type="text" class="form-control" th:id="${type} + ChatRoomRoomName"
                                           name="roomName">
                                    <!--                                    <button class="btn btn-secondary col-sm-2 justify-content-evenly" type="button"-->
                                    <!--                                            th:id="${type} + ChatRoomRoomNameValidateBtn" disabled="">-->
                                    <!--                                        <span>Validate</span>-->
                                    <!--                                    </button>-->
                                </div>
                                <div class="input-group mb-3 row">
                                    <label th:for="${type} + ChatRoomDescription"
                                           class="input-group-text col-sm-3 col-form-label">Description</label>
                                    <textarea class="form-control" th:id="${type} + ChatRoomDescription"
                                              name="description"></textarea>
                                </div>
                                <div class="input-group row mb-3">
                                    <span class="input-group-text col-sm-3 text-wrap">MBTI to allow entry</span>
                                    <div class="form-control col-sm-8 p-2 d-flex flex-column"
                                         th:id="${type} + ChatRoomPermitMBTICode">
                                        <div class="d-flex justify-content-center">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input permitMBTICode-all-select-btn"
                                                       type="checkbox" role="switch"
                                                       id="checkbox_switch_ALL">
                                                <label class="form-check-label" for="checkbox_switch_ALL">All</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="E">
                                                    E</label>
                                            </div>
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="I">
                                                    I</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="S">
                                                    S</label>
                                            </div>
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="N">
                                                    N</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="T">
                                                    T</label>
                                            </div>
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="F">
                                                    F</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="J">
                                                    J</label>
                                            </div>
                                            <div class="form-check col-5 border rounded">
                                                <label class="form-check-label col-12">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="permitMBTICode" value="P">
                                                    P</label>
                                            </div>
                                        </div>
                                        <!--                                        <button type="button" class="btn btn-outline-primary" id="addPermitMBTICodeBtn">Add</button>-->
                                        <!--                                        <button type="button" class="btn btn-outline-secondary" id="resetPermitMBTICodeBtn">Reset</button>-->
                                        <div class="d-flex flex-column" id="MBTICodeToastArea">
                                            <ul class="list-group list-group-flush">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button th:if="${type == 'Create'}" type="button" class="btn btn-primary"
                            th:id="${type} + ChatRoomSubmitBtn" th:text="${type}"></button>
                    <button th:if="${type == 'Update'}" type="button" class="btn btn-danger"
                            id="RemoveChatRoomSubmitBtn">Remove
                    </button>
                    <button th:if="${type == 'Update'}" type="button" class="btn btn-warning"
                            th:id="${type} + ChatRoomSubmitBtn" th:text="${type}"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>

</span>