<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>

<th:block layout:fragment="content">
    <!--    <div class="navbar navbar-expand-lg navbar-dark sticky-top p-0 justify-content-around" style="top: 120px;">-->
    <!--        <ul class="nav nav-pills nav-fill nav-justified">-->
    <!--            <li class="nav-item" th:each="mbti, index : ${mbtiInfoList}">-->
    <!--                <a class="nav-link text-bg-secondary" aria-current="page" th:href="${'#card-mbti-' + mbti.code}"-->
    <!--                   target="_top"-->
    <!--                   th:text="${mbti.code}"></a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->

    <div class="container-fluid" id="contentContainer">
        <div class="d-flex row">
            <div aria-expanded="false" class="card col-3 my-2"
                 data-bs-toggle="collapse"
                 role="button" style="scroll-margin-top: 200px;" th:aria-controls="${'collapse' + index.index}"
                 th:each="mbti,index : ${mbtiInfoList}"
                 th:href="${'#collapse' + index.index}" th:id="${'card-mbti-' + mbti.code}">
                <img alt="..." class="card-img-top" th:src="${mbti.imgSrc}">
                <div class="card-body">
                    <h1 class="" th:text="${mbti.code}"></h1>
                    <h3 class="" th:text="${mbti.personality}"></h3>
                </div>
                <div class="card-footer collapse" th:id="${'collapse' + index.index}">
                    <p class="card-text" th:text="${mbti.introduction}"></p>
                    <a target="_blank" th:href="${'https://www.16personalities.com/' + mbti.code + '-personality'}">Go
                        to
                        the official site for more details</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/modal :: staticModal('staticBackdropModal')"></th:block>
    <th:block th:replace="fragments/chat :: chat-modal"></th:block>
</th:block>


</body>
</html>
