<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header"/>
<body style="padding-top: 100px;">

<!--<th:block th:replace="fragments/header :: navbar"/>-->
<th:block th:replace="fragments/header :: offcanvas"/>
<div class="container-fluid mt-xl-5" id="mainContainer">

    <th:block th:replace="fragments/header :: MBTI-header"/>

    <div id="mbtiListDiv" class="flex-column">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">MBTI</th>
                <th scope="col">Personality</th>
                <th scope="col">Chatting</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalLabel">MBTI Chat</h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                <button class="btn btn-warning" type="button" id="chat-leave-btn" onclick="disconnect()">Leave</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-lg" id="input-send-message">
                    <button class="btn btn-primary" type="button" id="chat-send-message-btn">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/footer :: footer"/>
<script type="application/javascript">
    (function () {
        $.ajax({
            type: 'GET',
            url: '/user-info',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log(data);
                // let logoutBtn = document.createElement("button");
                // logoutBtn.type = 'button';
                // logoutBtn.innerHTML = "Logout";
                loggedInUsername.forEach(elem => {
                    elem.innerHTML = "<h4 class='m-3'>Logged in: " + data.username + "</h4>";
                    elem.innerHTML += "<div class='m-3'><button type='button' class='btn btn-warning' onclick=\"location.href='/logout'\">Logout</button></div>";
                });
                if (data.username) {
                    document.body.style.paddingTop = "150px";
                    let adminNavbar =
                        "  <div class=\"container-fluid text-bg-secondary opacity-75\">\n" +
                        "    <button class=\"btn btn-link link-light\" onclick='getUserList()'>User List</button>\n" +
                        "    <a class=\"link-light\" href=\"#\">Chat Room List</a>\n" +
                        "    <a class=\"link-light\" href=\"#\">Statistics</a>\n" +
                        "  </div>\n";
                    navContainer.insertAdjacentHTML("afterend", adminNavbar);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }());
</script>
</html>
