<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorator="~{layouts/default_layout}"-->

<th:block th:replace="/fragments/header :: header"/>
<body style="padding-top: 100px;">

<!--<th:block th:replace="fragments/header :: navbar"/>-->
<th:block th:replace="/fragments/header :: offcanvas"/>
<div class="container-fluid mt-xl-5" id="mainContainer">

    <th:block th:replace="/fragments/header :: MBTI-header"/>

        <div id="mbtiListDiv" class="flex-column">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">MBTI</th>
                    <th scope="col">Personality</th>
                    <th scope="col">Chatting</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr></tr>
                </tfoot>
            </table>
        </div>
</div>

<th:block th:replace="fragments/modal :: modal('viewUserInfoModal')"></th:block>
<th:block th:replace="fragments/chat :: chat-modal"></th:block>
</body>
<th:block th:replace="fragments/footer :: footer"/>
<script type="module" src="/js/user/user.js"></script>
</html>
