<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header"/>
<body style="padding-top: 100px;">

<!--<th:block th:replace="fragments/header :: navbar"/>-->
<th:block th:replace="fragments/header :: offcanvas"/>
<div class="container-fluid mt-xl-5" id="mainContainer">

    <th:block th:replace="fragments/header :: MBTI-header"/>

    <div id="mbtiListDiv" class="flex-column">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">MBTI</th>
                <th scope="col">Personality</th>
                <th scope="col">Chatting</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalLabel">MBTI Chat</h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                <button class="btn btn-warning" type="button" id="chat-leave-btn" onclick="disconnect()">Leave</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-lg" id="input-send-message">
                    <button class="btn btn-primary" type="button" id="chat-send-message-btn">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<th:block th:replace="fragments/footer :: footer"></th:block>
