<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="kr">
<head>
    <title>Spring Security Example </title>
    <link href="/webjars/bootstrap/5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="/main.css" rel="stylesheet">-->
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/dist/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form action="/sign-up" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Nickname: <input type="text" name="nickname"/> </label></div>
    <div><button id="sign-up-btn" type="button">Sign up</button></div>
</form>

</body>
</html>

<script type="text/javascript" src="/webjars/js-cookie/3.0.1/dist/js.cookie.js"></script>
<script type="application/javascript">
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type === 'GET' || settings.type === 'POST' || settings.type === 'PUT'
                || settings.type === 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    xhr.setRequestHeader("X-XSRF-TOKEN", Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });
    const signUpForm = document.querySelector("form[action='/sign-up']");

    console.log(signUpForm);

    $("#sign-up-btn").on("click", function (e) {
        console.log(signUpForm.querySelector("input[name='username']").value);
        console.log(signUpForm.querySelector("input[name='password']").value);
        console.log(signUpForm.querySelector("input[name='nickname']").value);
        $.ajax({
            type: 'POST',
            url: '/signup',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                username: signUpForm.querySelector("input[name='username']").value,
                password: signUpForm.querySelector("input[name='password']").value,
                nickname: signUpForm.querySelector("input[name='nickname']").value,
            }),
            success: function (data, status, xhr) {
                console.log(data);
                console.log(status);
                console.log(xhr);
                window.location.href = '/login';
            },
            error: function (data, status, xhr) {
                console.error(data);
                console.error(status);
                console.error(xhr);
            }
        })
    });
</script>