<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default_layout}">

<body>

<th:div layout:fragment="banner" class="text-center">
    <h2>Chatting Room List</h2>
    <a th:href="@{/chat/list(username=${#authentication.name})}" class="btn btn-secondary">Created By Myself</a>
    <a href="#" class="btn btn-secondary">I Belong</a>
</th:div>

<th:block layout:fragment="content">
    <div class="container-fluid" id="contentContainer">
        <div id="chatRoomListDiv" class="flex-column">
            <div class="d-flex justify-content-end" id="btnAreaForMbtiTable">
                <button class="btn btn-info me-3" id="createChatRoomBtn">Create</button>
            </div>

            <div class="row">
                <div class="col-sm-6" th:each="chatRoom, index : ${chatRoomList}">
                    <div class="card">
                        <!--                        <img />-->
                        <div class="card-header">
                            <h5 class="card-title fw-bold" th:text="${chatRoom.getRoomName()}"></h5>
                            <div class="card-subtitle d-flex justify-content-end">
                                <h6 class="fst-italic" th:text="${chatRoom.getFounder()}"></h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${chatRoom.getDescription()}"></p>
                            <span class="badge text-bg-info"
                                  th:each="permitMBTICode, index : ${chatRoom.getPermitMBTICode()}"
                                  th:text="${permitMBTICode}">
                            </span>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <div>
                                <span class="badge text-bg-primary" th:text="${chatRoom.getConcurrentUsers()}"></span>
                            </div>
                            <div>
                                <a href="#" class="btn btn-secondary ms-1">Edit</a>
                                <button type="button" class="btn btn-warning ms-1 join-chat-room-btn"
                                        th:data-room-name="${chatRoom.getRoomName()}">Join
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <th:block th:replace="fragments/modal :: createChatModal"></th:block>
    <th:block th:replace="fragments/chat :: chat-modal"></th:block>
</th:block>

<th:block layout:fragment="additionalScript">
    <script type="module" src="/js/chat/createChatRoom.js"></script>
    <script type="module" src="/js/chat/connection.js"></script>
    <script src="/js/chat/getList.js"></script>
</th:block>
</body>
</html>
