<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorator="~{layouts/default_layout}"-->

<th:block th:replace="/fragments/header :: header"/>
<body style="padding-top: 100px;">

<!--<th:block th:replace="fragments/header :: navbar"/>-->
<th:block th:replace="/fragments/header :: offcanvas"/>
<div class="container-fluid mt-xl-5" id="mainContainer">

    <th:block th:replace="/fragments/header :: MBTI-header"/>

    <div id="mbtiListDiv" class="flex-column">
        <div class="d-flex justify-content-end" id="btnAreaForMbtiTable">
            <button class="btn btn-info me-3" onclick="location.href='/mbti/register'">Add</button>
        </div>

        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th class="col-1" colspan="1" scope="col">#</th>
                <th class="col-6" colspan="1" scope="col">MBTI</th>
                <th class="col-4" colspan="1" scope="col">Personality</th>
                <th class="col-1" colspan="1" scope="col">Chatting</th>
            </tr>
            </thead>
            <tbody class="">
            </tbody>
        </table>
    </div>
</div>

<!--<th:block th:replace="fragments/modal :: modal('viewUserInfoModal')"></th:block>-->
<th:block th:replace="fragments/chat :: chat-modal"></th:block>
</body>
<th:block th:replace="fragments/footer :: footer"/>
<script type="module" src="/js/user/user.js"></script>
</html>
