<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>

<th:block layout:fragment="banner">
    <th:div th:insert="fragments/banner :: banner('MBTI Register', null)" class="d-flex flex-column text-center ms-3"></th:div>
</th:block>

<th:block layout:fragment="content">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신은 외향적입니까? 내향적입니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="focused" id="focusedExtraversion"
                           value="Extraversion">
                    <label class="form-check-label" for="focusedExtraversion">
                        외향적(Extraversion)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="focused" id="focusedIntroversion"
                           value="Introversion">
                    <label class="form-check-label" for="focusedIntroversion">
                        내향적(Introversion)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신의 인식 방식은 어떠합니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="recognition" id="recognitionSensing"
                           value="Sensing">
                    <label class="form-check-label" for="recognitionSensing">
                        감각적(Sensing)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="recognition" id="recognitionIntuition"
                           value="Intuition">
                    <label class="form-check-label" for="recognitionIntuition">
                        직관적(Intuition)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신의 판단 방식은 어떠합니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="decision" id="decisionThinking" value="Thinking">
                    <label class="form-check-label" for="decisionThinking">
                        사고(Thinking)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="decision" id="decisionFeeling" value="Feeling">
                    <label class="form-check-label" for="decisionFeeling">
                        감정(Feeling)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column border border-1 border-secondary m-2">
            <h3 class="d-flex justify-content-center">당신의 대처 방식은 어떠합니까?</h3>
            <div class="d-flex justify-content-center">
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="coping" id="copingJudging" value="Judging">
                    <label class="form-check-label" for="copingJudging">
                        판단(Judging)
                    </label>
                </div>
                <div class="form-check-inline m-2">
                    <input class="form-check-input" type="radio" name="coping" id="copingPerceiving" value="Perceiving">
                    <label class="form-check-label" for="copingPerceiving">
                        인식(Perceiving)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-secondary" id="checkMBTIResultBtn">결과 확인</button>
        </div>

        <div id="result">

        </div>
    </div>
    <th:block th:replace="fragments/modal :: modal('mbtiRegisterModal')"/>
</th:block>

</body>
<th:block layout:fragment="additionalScript">
    <script type="module" src="/js/mbti/registration.js"></script>
</th:block>
</html>
